.drawer {
  position: fixed;

  top: 0;
  right: 0;

  width: 410px;
  height: 100vh;

  background: #f6f3ec;

  z-index: 2000;

  display: flex;
  flex-direction: column;

  transform: translateX(100%);

  transition: transform 0.45s ease;

  box-shadow: -10px 0 35px rgba(0, 0, 0, 0.08);
}




.drawerOpen {
  transform: translateX(0);
}




.overlay {
  position: fixed;

  inset: 0;

  background: rgba(0, 0, 0, 0.35);

  z-index: 1999;

  opacity: 0;

  visibility: hidden;

  transition:
    opacity 0.35s ease,
    visibility 0.35s ease;
}


.overlayOpen {
  opacity: 1;

  visibility: visible;
}




.cartHeader {
  height: 80px;

  padding: 0 28px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  border-bottom: 1px solid #d8d3c9;
}


.cartHeader h1 {
  margin: 0;

  font-family: "Playfair Display", serif;

  font-size: 22px;

  font-weight: 500;

  letter-spacing: 1.5px;

  color: #111;
}



.closeButton {
  border: none;

  background: transparent;

  font-size: 32px;

  font-weight: 300;

  line-height: 1;

  cursor: pointer;

  color: #111;

  padding: 4px;

  transition: transform 0.25s ease;
}


.closeButton:hover {
  transform: rotate(90deg);
}




.cartContent {
  flex: 1;

  overflow-y: auto;

  padding: 25px 28px;
}




.emptyCart {
  margin-top: 80px;

  text-align: center;

  font-family: Arial, sans-serif;

  font-size: 12px;

  letter-spacing: 2px;

  color: #555;
}




.cartFooter {
  padding: 22px 28px 28px;

  border-top: 1px solid #d8d3c9;

  background: #f6f3ec;
}




.total {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 20px;

  font-family: Arial, sans-serif;

  font-size: 13px;

  letter-spacing: 1.5px;

  color: #111;
}


.total span:last-child {
  font-weight: 600;
}




.checkoutButton {
  width: 100%;

  height: 52px;

  border: 1px solid #111;

  background: #111;

  color: #fff;

  font-size: 12px;

  letter-spacing: 2px;

  cursor: pointer;

  transition:
    background 0.25s ease,
    color 0.25s ease;
}


.checkoutButton:hover {
  background: transparent;

  color: #111;
}
.image {
  width: 90px;
  height: 110px;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
}


/* mobile*/

@media screen and (max-width: 600px) {

  .drawer {
    width: 100%;
  }


  .cartHeader {
    height: 70px;

    padding: 0 22px;
  }


  .cartHeader h1 {
    font-size: 20px;
  }


  .cartContent {
    padding: 20px 22px;
  }


  .cartFooter {
    padding: 20px 22px 24px;
  }

}
